#myPrize {
  .custom-image {
    margin-top: 1.5rem;
    .van-empty__image {
      width: 2rem;
      height: 2rem;
    }
  }
}

.swiper-wrapper{
  transition-timing-function:linear!important;
}
